.app {
  composes: pl-4 pr-4 from global;
  box-sizing: border-box;
  max-width: 1312px;
  height: 100vh;
  margin: 0 auto;
}

.main {
  display: flex;
  height: calc(100% - 100px);
}

.column {
  composes: pl-4 pr-4 from global;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

