.button {
  composes: p-5 from global;
  display: flex;
  align-items: center;
  max-width: max-content;
  cursor: pointer;
  opacity: 0.5;
}

.button:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}
